<!--<router-outlet></router-outlet>-->
<div class="container d-grid align-items-center" style="height: 100%">
  <div class="card p-3">
    <form #f="ngForm" (ngSubmit)="addData(f)">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="uname" name="name" placeholder="User Name" ngModel>
        <label for="uname">Enter Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="uemail" name="email" placeholder="name@example.com" ngModel>
        <label for="uemail">Enter Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="upassword" name="pasword" placeholder="Password" ngModel>
        <label for="upassword">Password</label>
      </div>
      <input type="submit">
    </form>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let data of userData|async">
    {{data.email}} - {{data.name}}
    <button (click)="updateData(data.id)">update</button>
    <button (click)="deleteUser(data.id)">delete</button>
  </li>
</ul>

<!--<form #f="ngForm" (ngSubmit)="addData(f)">-->
<!--  <input type="text" name="name" ngModel>-->
<!--  <br>-->
<!--  <input type="email" name="email" ngModel>-->
<!--  <br>-->
<!--  <input type="password" name="password" ngModel>-->
<!--  <br>-->
<!--  <input type="submit">-->
<!--</form>-->

